# Node modules
node_modules/

# Expo
.expo/
.expo-shared/

# Build folders
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Mac files
.DS_Store

# VS Code
.vscode/

# Android
android/

# iOS
ios/
